<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>



<!--  	        
	        <div   class="tooltip"> Given the credit level you selected( ) your APR will be about {{ possibleRate }}%.
  				  <span class="tooltiptext">Annual percentage rate (APR) is the annual cost of credit expressed as a percentage. 
  				  	The Federal Truth and Lending Law requires lenders to disclose the true annual interest on consumer sales, 
  				  	as well as the total dollar cost and other terms of a loan. It is commonly used to compare loan programs from different lenders.
					The following fees are generally included in the APR:
					Points - both discount points and origination points
					Pre-paid interest. The interest paid from the date the loan closes to the end of the month. 
					Most mortgage companies assume 15 days of interest in their calculations. However, companies may use any number between 1 and 30!
					Loan-processing fee, Underwriting fee, Document-preparation fee, Private mortgage-insurance
				 </span>
		   </div>  
-->	

<!-- 		   
			<span class="questionrate" rel="popover" data-trigger="hover" data-content="The 
				length of time you have to pay back your loan (30-year and 15-year fixed-rate loans are 
				common)." data-original-title="" title="">?
			</span>		   
 -->

</body>
</html>