<!doctype html>

<html>
<head>
	<meta charset="UTF-8">
	<title>JavaBank: Analyst</title>
	<link rel="stylesheet" href="http://localhost:8080/css/styles.css">
</head>

<body>
	<h2>Analyst: Box-Jenkins</h2>

	<form  action="reports/forecastma"  method="post"> 
	
	    <h4>(1) Moving Average (not weighted)</h2>
	
	    <label class="lbl_tr"   for="ma_length">Select forecast length (months)</label>
	    <input id="forecastma"  type="number" name="fc_length" step="1" min="1"  max="6"   value="{{ fc_length }}"  required>
	    
	    <label class="lbl_tr"   for="ma_period">Select window size (months)</label>
	    <input id="forecastma"  type="number" name="window_length" step="1" min="2"  max="7"   value="{{ window_length }}"  required>
	    
    	<button>Select</button>
    </form>


	<form  action="reports/forecastma_we"  method="post"> 
	    <br>
	    <h4>(2) Moving Average (weighted)</h2>
	
	    <label class="lbl_tr"   for="ma_length">Select forecast length (months)</label>
	    <input id="forecastma"  type="number" name="fc_length" step="1" min="1"  max="6"    value="{{ fc_length }}"  required>
	    
	    <label class="lbl_tr"   for="ma_period">Select window size (months)</label>
	    <input id="forecastma"  type="number" name="window_length" step="1" min="2"  max="4" value="{{ window_length }}"  required>
	    <br>
	    <label class="lbl_w"   for="ma_period">Weight the most recent data point</label>
	    <input id="forecastma"  type="number" name="weight1" step="0.05" min="0"  max="1" value="{{ weight1 }}"  required>

	    <label class="lbl_w"   for="ma_period">Weight data point at lag 1</label>
	    <input id="forecastma"  type="number" name="weight2" step="0.05" min="0"  max="1" value="{{ weight2 }}"  required>
	    	    
	    <label class="lbl_w"   for="ma_period">Weight data point at lag 2</label>
	    <input id="forecastma"  type="number" name="weight3" step="0.05" min="0"  max="1" value="{{ weight3 }}"  required>

	    <label class="lbl_w"   for="ma_period">Weight data point at lag 3</label>
	    <input id="forecastma"  type="number" name="weight4" step="0.05" min="0"  max="1" value="{{ weight4 }}"  required>
	    		    		    	    	    	    
    	<button>Select</button>
    </form>
        	
</body>  
</html> 

