<!doctype html>

<html>
<head>
	<title>javaBank Application</title>
	<link rel="stylesheet" href="http://localhost:8080/css/styles.css">
</head>

<body>
  {{#noUser}} 
    <form action="/input"  method="post">
    
      <h2>   JavaBank: Apply for Loans Online</h2>
	  <input id="div1"> 
      <br>
      <br>
	  <label class="ref_lbl"   for="first_name"  >First Name</label>
	  <input class="ref_inp"   type="text"       name="firstname"    value="{{firstname}}"  required>
	    <br> 
	  <label class="ref_lbl"   for="last_name"   >Last Name </label>
	  <input class="ref_inp"   type="text"       name="lastname"     value="{{lastname}}"   required>
	    <br> 
	  <label class="ref_lbl"   for="address"     >Address  </label>
	  <input class="inpt_long" type="text"       name="address"       value="{{address}}"     required>
	    <br> 
	  <label class="ref_lbl"   for="email"       >Email    </label>
	  <input class="inpt_long" type="text"       name="email"         value="{{email}}"       required>
	  {{#errorEmail}}
	        <div id="errorEmail">{{ errorEmail }}</div>
	  {{/errorEmail}}
	  
	    <br> 
	  <label class="ref_lbl"   for="ssn"         >SSN</label>         
	  <input class="ref_inp"   type="text"       name="ssn"           value="{{ssn}}"         required
	         title="You can enter your SSN as 555-55-5555 or 555555555, we'll figure it out." placeholder="Format: xxx-xx-xxxx">
	  {{#errorSSN}}
	        <div id="errorSSN">{{ errorSSN }}</div>
	  {{/errorSSN}}
	  	<br> 	  	  	  	  
  		<br>   		
      <input id="div1"> 
 		<br>
 	  <label id="lbl_amnt" for="requested_amount">Requested Loan Amount</label>
 	  <input class="ref_inp"    type="number"      name="requestedAmount"  
	         step="100" min="1000"  max="5000"     value="{{requestedAmount}}"  required
	         title="We accept requests between $1,000 and $5,000, minimum increment = $100.">	     
		 <br>
  		 <br>  	
  		 <br> 	  	  
  		<button  class="play"   name="input"  value="input" title="Pressing this button will take you to the Loan Calculator page where you can 
  		         (1) estimate your monthly payment for the Loan Amount requested, and 
  		         (2) change the actual Amount of your Loan request, if so desired.">Submit Input</button>  
    </form>
    {{/noUser}}	
    
    
    {{#User}} 
	    <form  action="/loancalculator"  method="post">  
	      <h2>Thank you for your application, {{ firstname }} {{ lastname }}.</h2>
	      
	      <div> You can submit it now or ... <br>
	            You can use them Loan Calculators below to get your monthly payment first.
	      </div>
	    <br> 
	      <input class="ref_inp"  type="text" name="first_name"  value="{{requestedAmount}}"  required>
		<br>  
	    <br>
		  <button name="submit" value="submit">Submit Application</button>
		
		
		
		<br>
      	  <input id="div1">	 
		<br>
		  <h5>Check This Loan Calculator <br>
			  <a href='http://www.mlcalc.com/loan-calculator/'>
			     <img src="http://localhost:8080/images/calc.png"  alt="Check Loan Calculator" height="60" width="60"/>		     
			  </a>
		  </h5>
      	 <input id="div1">	
      	   		  
      	   		  

		   <p> If you borrow ${{ requestedAmount }} at {{ possibleRate }}% rate for {{ requestedTerm }} years what will be your Monthly Payment? <br>
		       The payments do not change over time.
		   </p>
		   <br>
		   		   
		   <label class="lbl_tr"  for="requested_amount">Amount</label>
		   <label class="lbl_tr"  for="requested_term">Term</label>
		   <label id="lbl_tr"     for="quality" title="Given the credit level you selected( ) your APR will be about {{ possibleRate }}%.">How Bad is Your Credit?</label>  
		   
		 <br>
 	  	   <input class="ref_inpc"    type="number"     name="requested_amount"  
	              step="100" min="1000"  max="5000"     value="{{requestedAmount}}"  required>
	             
 	  	   <input class="ref_inpc"    type="number"      name="requested_term"  
	              step="0.5" min="3"  max="5"            value="{{requestedTerm}}"     required>
	              	          
	       <select id="rate"> 
			  <option value="7"	selected>Exceptional (800+) <> 7%</option> 
			  <option value="15" 		>Good+ (670 - 799) <> 15%</option>
			  <option value="22"		>Fair (580 - 669) <> 22%</option>
			  <option value="29"		>Uh... (min - 579) <> 29%</option>
			</select>      
	        
        </form> 
		
		
		
   		<form  action="/loancalculatorXXX"  method="post">  
            
		<!-- LOAN CALCULATOR CALL -->
       <script type="text/javascript">
       
            $('#btn_loan_calc').click(function(){
            	
            	const rateValue = $('#rate').val();
            }
	       	let parameters = {
	       		mlcalc_default_calculator 	= 'loan',
	       		mlcalc_currency_code 		= 'usd',
	       		mlcalc_loan_amount 			= 'requestedAmount',
				mlcalc_loan_term 			= 'requestedTerm',
				mlcalc_interest_rate 		= 'rateValue',
				mlcalc_amortization 		= 'year_nc'
	       	};
	       	$.post('http://www.mlcalc.com/loan-calculator/', parameters)
	       		<!--  .done(response => putCalcualatedPaymentInPage(response))  -->
	       	          .done(response => console.log(response));	       	          
	       	   });
       </script>
       
 	        <br>      
	        <br>  
	            <button id="btn_loan_calc" name="loancalculator" value="loancalculator">Calculate</button>
		 	<br>
	        <br>    
	       <label id="lbl_final"   for="monthly_payment"  title="At {{ possibleRate }}% rate, term of {{ requestedTerm }}.">Monthly Payment</label>
 	  	   <input class="ref_inp"  type="number" min="0" step="1" name="monthly_payment" value="0"  readonly="readonly"  value="{{monthly_payment}}">   
 	  	   <!-- "{{monthly_payment}}" -->  
 	  	   
 	  	   </form>
 	  	   
 	  	   
 	  	 {{/User}} 
</body>  
</html> 









